analyzing/target/
gui/target/
.idea/
out/
*.iml
*.ipr
*.iws

*.class
*.log

hs_err_pid*
replay_pid*
*~
.Trash-*
.DS_Store
.AppleDouble
.LSOverride
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db
*.stackdump
[Dd]esktop.ini
$RECYCLE.BIN/
*.lnk
