/analyzing/target/classes/ua/com/andromad/misc/wordsCount/analyze/AnalyzingProcess.class
/analyzing/target/classes/ua/com/andromad/misc/wordsCount/analyze/ProcessAnalyzing.class
/analyzing/target/classes/ua/com/andromad/misc/wordsCount/analyze/WordOccurrence.class
/analyzing/target/maven-archiver/pom.properties
/analyzing/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
/analyzing/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
/analyzing/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/inputFiles.lst
/analyzing/target/analyzing-1.0-SNAPSHOT.jar
/GUI/target/classes/ua/com/andromad/misc/wordsCount/AnalyzeTextFileTask.class
/GUI/target/classes/ua/com/andromad/misc/wordsCount/GUIwordsCount.class
/GUI/target/classes/ua/com/andromad/misc/wordsCount/mainWindow.fxml
/GUI/target/classes/ua/com/andromad/misc/wordsCount/MainWindowController.class
/GUI/target/classes/ua/com/andromad/misc/wordsCount/WordOccurrenceDataModel.class
/GUI/target/maven-archiver/pom.properties
/GUI/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
/GUI/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
/GUI/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/inputFiles.lst
/GUI/target/GUI-1.0-SNAPSHOT.jar
/.idea/.gitignore
/.idea/compiler.xml
/.idea/encodings.xml
/.idea/jarRepositories.xml
/.idea/misc.xml
